/* 
    Document   : qrcode.css
    Created on : 2013-1-5, 12:28:44
    Author     : meathill
    Description:
        用来在用户页面上生成悬浮窗二维码
*/
.qrcode {
  padding:10px;
  border:2px dashed #CCC;
  background:#FFF;
  font:14px/25px Simsun;
  position: fixed;
  right:10px;
  top:10px;
}
.qrcode p {
  margin:10px 0 0;
}
