/* 
    Document   : style
    Created on : 2013-1-4, 17:26:44
    Author     : meathill
    Description:
        Purpose of the stylesheet follows.
*/

.brand, h1, h2, h3, h4 {
  font-family: Microsoft Yahei, Simhei;
}

.span3.well {
  width:230px;
}
#output {
  width:216px;
  font:9px/14px Arial;
}

.controls.btn-group {
  display:block;
}
.dom .float {
  display:none;
}
.float .dom {
  display:none;
}
