/* 
    Document   : style
    Created on : 2013-1-4, 17:26:44
    Author     : meathill
    Description:
        后台的一些必要样式
*/

.brand, h1, h2, h3, h4 {
  font-family: Microsoft Yahei, Simhei;
}

.span4.well {
  width:260px;
}
#output {
  width:246px;
  font:9px/14px Arial;
}

.controls.btn-group {
  display:block;
}
.dom .float {
  display:none;
}
.float .dom {
  display:none;
}
